# folders
**/.DS_Store
/tests/data/*
/resources/schema/*

# IDEs
.idea/
.vs/
.vscode/

# build / cmake
build/
cmake-build-*/
prefix/
.clangd
CMakeLists.txt.user
CMakeUserPresets.json
compile_commands.json
CMakeCache.txt
CMakeFiles/

# locally install libraries 
libs/

# demo build
/build/
demo/CMakeFiles/
demo/cmake-build-*/
demo/inspect_electrical_series/*.nwb

