# folders
**/.DS_Store
/tests/data/*

# IDEs
.idea/
.vs/
.vscode/

# build / cmake
build/
cmake-build-*/
prefix/
.clangd
CMakeLists.txt.user
CMakeUserPresets.json
compile_commands.json
CMakeCache.txt
CMakeFiles/
