name: Doxygen GitHub Pages Deploy Action

permissions:
  contents: write

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    defaults:
      run:
        shell: bash

    runs-on: macos-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: "true"
      
      - name: Install dependencies - macos
        run: brew install hdf5 catch2 doxygen graphviz

      - name: Configure
        shell: pwsh
        run: cmake "--preset=ci-macos"

      - name: Build
        run: cmake --build build

      - name: Build the docs
        run : cmake "-DPROJECT_SOURCE_DIR=$PWD" "-DPROJECT_BINARY_DIR=$PWD/build" -P cmake/docs-ci.cmake

      - name: Create .nojekyll to ensure pages with underscores work on gh pages
        run: touch build/docs/html/.nojekyll

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: gh_pages
          folder: build/docs/html
